<a href="https://colab.research.google.com/github/suraj11kasasudhan/task_zee_media/blob/main/named_entity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import spacy
#importing library 

nlp = spacy.load('en_core_web_sm')
  
sentence = "apple is looking at buying U.K. startup for $1 billion"
  
doc = nlp(sentence)


entity=[]
label=[]
dict1={} 
for ent in doc.ents:
    #print(ent.text, ent.start_char, ent.end_char, ent.label_)
    entity.append(ent.text)
    label.append(ent.label_)

dict1["entity"]=entity
dict1["label"]=label

# creating dataframe to show entities and their label

import pandas as pd
df=pd.DataFrame(dict1)
df.head()

       entity  label
0       apple    ORG
1        U.K.    GPE
2  $1 billion  MONEY